.picture-of-me {
  display: block;
  margin: 2em auto 3em;
  padding: 0.3em;
  width: 250px;
  height: 250px;
  border-radius: 42% 58% 39% 61%/59% 48% 52% 41%;
  background: linear-gradient(to right bottom, #c32a92, #b0249b, #9923a4, #7b27ad, #532db4);
}

.dark .picture-of-me {
  background: linear-gradient(to right bottom, #0a2946, #163756, #351e5a, #7b27ad, #532db4);
}
