.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
}
.twa-lg {
  height: 1.33em;
  width: 1.33em;
  margin: 0 0.0665em 0 0.133em;
  vertical-align: -0.133em;
  background-size: 1.33em 1.33em;
}
.twa-2x {
  height: 2em;
  width: 2em;
  margin: 0 0.1em 0 0.2em;
  vertical-align: -0.2em;
  background-size: 2em 2em;
}
.twa-3x {
  height: 3em;
  width: 3em;
  margin: 0 0.15em 0 0.3em;
  vertical-align: -0.3em;
  background-size: 3em 3em;
}
.twa-4x {
  height: 4em;
  width: 4em;
  margin: 0 0.2em 0 0.4em;
  vertical-align: -0.4em;
  background-size: 4em 4em;
}
.twa-5x {
  height: 5em;
  width: 5em;
  margin: 0 0.25em 0 0.5em;
  vertical-align: -0.5em;
  background-size: 5em 5em;
}

/* End preamble; begin emoji classes */
.twa-hourglass-not-done {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/23f3.svg');
}
.twa-calendar {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f4c5.svg');
}
.twa-pepe-ugh {
  background-image: url('/static/emoji/pepe_ugh.png');
}
.twa-pepe-noice {
  background-image: url('/static/emoji/pepe_noice.png');
}
.twa-pepe-thumbsup {
  background-image: url('/static/emoji/pepe_thumbsup.png');
}
.twa-clown-thinking {
  background-image: url('/static/emoji/clown_thinking.png');
}
.twa-clown-honker {
  background-image: url('/static/emoji/clown_honker.png');
}
.twa-pepe-thinking {
  background-image: url('/static/emoji/pepe_thinking.png');
}
.twa-pepe-facepalm {
  background-image: url('/static/emoji/pepe_facepalm.png');
}
.twa-pepe-sunglasses {
  background-image: url('/static/emoji/pepe_sunglasses.png');
}
.twa-pepe-glare {
  background-image: url('/static/emoji/pepe_glare.png');
}
.twa-pepe-grin {
  background-image: url('/static/emoji/pepe_grin.png');
}
.twa-pepe-trollface {
  background-image: url('/static/emoji/pepe_trollface.png');
}
.twa-pepe-thumbsdown {
  background-image: url('/static/emoji/pepe_thumbsdown.png');
}
.twa-pepe-joeyCreepy {
  background-image: url('/static/emoji/pepe_joeyCreepy.png');
}
.twa-pepe-youcantifyoudont {
  background-image: url('/static/emoji/pepe_youcantifyoudont.png');
}
.twa-pepe-wine {
  background-image: url('/static/emoji/pepe_wine.png');
}
.twa-clown-sunglasses {
  background-image: url('/static/emoji/clown_sunglasses.png');
}
.twa-pepe-oof {
  background-image: url('/static/emoji/pepe_oof.png');
}
.twa-pepe-smug {
  background-image: url('/static/emoji/pepe_smug.png');
}
